img {
  width: 500px;
  height: 250px;
  object-fit: cover;
}

.imgContainer {
}

.newsCard {
  width: 500px;
  background-color: white;
  margin: 10px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.newsDescription {
  /* margin-bottom: 80px; */
}

.newsHeadline {
  color: black;
  font-size: 1.2em;
  margin-top: -20px;
}

.footerInfo {
  background-color: #B46AF1;
  width: 500px;
  font-size: 20px;
}

.arrowImg {
  height: auto;
  width: 80px;
}

.urlLink {
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.newsDescription {
  color: black;
}
